
<footer>
    <div class="policy-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="block">
                        <div class="block-content">
                            <div class="policy-item">
                                <div class="policy-content iconpolicy1">
                                    <img src="./assets/images/home1-policy.png" alt="img">
                                    <div class="box-info">
                                        <p class="policy-name">Same Day Shipping!</p>
                                        <p class="policy-des">Yup! You order we deliver it today.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tiva-html col-lg-4 col-md-4">
                    <div class="block">
                        <div class="block-content">
                            <div class="policy-item">
                                <div class="policy-content iconpolicy2">
                                    <img src="./assets/images/home1-policy2.png" alt="img">
                                    <div class="box-info">
                                        <p class="policy-name">Technical Support</p>
                                        <p class="policy-des">We're here for you.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tiva-html col-lg-4 col-md-4">
                    <div class="block">
                        <div class="block-content">
                            <div class="policy-item">
                                <div class="policy-content iconpolicy3">
                                    <img src="./assets/images/home1-policy3.png" alt="img">
                                    <div class="box-info">
                                      <p class="policy-name">MONEY BACK GUARANTEED</p>
                                      <p class="policy-des">Not Satisfied? Get a refund today!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container box-copy">
      <div class="row">
          <div class="col-md-6 col-lg-6">
            <p class="copy">
                Copyrights © FwaveStore 2019 All Rights Reserved
            </p>
          </div>
          <div class="col-md-6 col-lg-6 box-pay">
            <img src="./assets/images/flutterwave.png"/>
          </div>
      </div>
    </div>
</footer>

